$COLOR_1: #16213e;
$COLOR_2: #d49a89;
$COLOR_3: #5eaaa8;
$COLOR_4: #f8bd7f;
$COLOR_Font: #fff;
.view{
    display: block;
    margin:  10% auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: 90vw;
    word-wrap: break-word;

}
.third{
    margin:  7% 0;
    width: 60vw;
    font-size: 25vh;
    min-width: 300px;
}

.gadget{
    position: fixed;
    width: 100vw;
    height: 100vh;
   
    color: $COLOR_Font;
    font-size: 27vh;
    font-family: 'Roboto', sans-serif;
}
.col_1{ background: $COLOR_1; transition: 1s;}
.col_2{ background: $COLOR_2; transition: 1s;}
.col_3{ background: $COLOR_3; transition: 1s;}
.col_4{ background: $COLOR_4; transition: 1s;}


